*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
 display: flex;
 justify-content:center ;
 align-items: center ;
 min-height: 100vh;
 background: rgb(7, 174, 239);
}
.wrapper {
    width: 420px;
    background: rgb(122, 17, 122);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}
